.closet-header {
  margin-top: 30px;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #47A0DF;
  text-align: center;
}

.divider {
  border-bottom: 2px solid rgba(0, 161, 254, 0.2);
  margin-top: 40px;
  margin-bottom: 20px;
}

.tags-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  margin-bottom: 20px;
}

.tags-container::-webkit-scrollbar {
  height: 5px;
}

.tags-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.tags-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

.tags-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.tag {
  color: white;
  padding: 8px 12px;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 10px;
  display: inline-block;
}

.active-tag {
  border: 2px solid white;
}

.closet-content-scroll {
  max-height: calc(100vh - 200px); /* Adjust based on header/footer height */
  overflow-y: auto;
  padding-bottom: 170px; /* Space for the fixed button and nav bar */
}

.closet-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 2vh;
  margin-bottom: 0; /* Removed margin-bottom */
}

.closet-item {
  background-color: white;
  border-radius: 15px;
  border: 2px solid rgba(71, 160, 223, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
}

.closet-item img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  border-radius: 15px;
}

.closet-item-label {
  margin-top: 5px;
  font-size: 0.9em;
  color: #1E3C63;
}

.closet-worn-item {
  border: 3px solid #FF8E8E;
}

.closet-buttons {
  position: fixed;
  bottom: 100px; /* Adjusted to be above the nav bar */
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px; /* Adjusted padding */
  gap: 30px;
  margin-top: 0; /* Removed margin-top */
  margin-bottom: 0; /* Removed margin-bottom */
}

.closet-camera-button {
  background-color: #47A0DF;
  color: white;
  border: none;
  padding: 20px 30px;
  border-radius: 25px;
  font-size: 1.4em;
  font-weight: bold;
  cursor: pointer;
  width: 300px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.camera-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}