.closet-header {
  margin-top: 30px;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #47A0DF;
  text-align: center;
}

.divider {
  border-bottom: 2px solid rgba(0, 161, 254, 0.2);
  margin-top: 40px;
  margin-bottom: 20px;
}

.closet-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-top: 5vh;
  margin-bottom: 80px;
}

.closet-item {
  background-color: white;
  border-radius: 15px;
  border: 2px solid rgba(71, 160, 223, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
}

.closet-item img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  border-radius: 15px;
}

.closet-item-label {
  margin-top: 5px;
  font-size: 0.9em;
  color: #1E3C63;
}

.closet-worn-item {
  border: 3px solid #FF8E8E;
}
