.suggestion-header {
  margin-top: 30px;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #47A0DF;
  text-align: center;
}

.divider {
  border-bottom: 2px solid rgba(0, 161, 254, 0.2);
  margin-top: 40px;
  margin-bottom: 20px;
}

.based-on {
  text-align: center;
  font-size: 1em;
  font-weight: medium;
  color: #1E3C63;
  margin-bottom: 20px;
}

.suggestion-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  justify-items: center;
  margin: 0 auto;
  margin-top: 8vh;
  max-width: 500px;
}

.suggestion-item {
  background-color: white;
  border-radius: 15px;
  border: 2px solid rgba(71, 160, 223, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5px;
  max-height: 30vh;
}

.suggestion-item img {
  width: 100%;
  height: 90%;
  object-fit: contain;
  border-radius: 15px;
}

.suggestion-item-label {
  margin-top: 5px;
  font-size: 0.9em;
  color: #1E3C63;
}

.suggestion-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8vh;
  gap: 30px;
}

.suggestion-wear-button, .suggestion-swap-button {
  background-color: #47A0DF;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 25px;
  font-size: 1.3em;
  font-weight: bold;
  cursor: pointer;
  width: 200px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.suggestion-wear-button.worn {
  background-color: #71B87E;
  width: 300px;
}

.suggestion-wear-button:disabled {
  cursor: not-allowed;
}

.checkbox-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
